$blue:#38aef0;

.chat-main{
  width:calc(100vw - 300px);
  float:left;
}

//main-header
.main-header{
  height:100px;
  width:100%;
  padding:0 40px;
  background-color: #ffffff;
  border-bottom:solid 1px #eeeeee;
  display:flex;
  justify-content:space-between;
  &__box{
    margin-top:35px;
    position:relative;
    &__group-name{
      color:#333333;
      font-size:20px;
      margin-bottom:15px;
    }
    &__member-list{
      color:#999999;
      font-size:12px;
      display:flex;
      &--name{
        color:#999999;
        font-size:12px;
        margin-left:5px;
      }
    }
  }
}

//edit-button
.edit-button{
  height:40px;
  line-height:40px;
  padding:0 20px;
  margin-top:30px;
  border:solid 1px $blue;
  position:absolute;
  right:30px;
  &__name{
    font-size:16px;
    color:#38aef8;
  }
}

//messages
.messages{
  height:calc(100vh - 190px);
  width:100%;
  background-color: #fafafa;
  padding:46px 40px;
  overflow: scroll;
}
.message{
  padding-bottom: 46px;
  &__info{
    margin-bottom:12px;
    display:flex;
    &__name{
      color:#333333;
      font-weight:bold;
      font-size:16px;
    }
    &__date{
      color:#999999;
      font-size:12px;
      margin-left:10px;
    }
  }
  &__text{
    color:#434A54;
    font-size:14px;
    margin-bottom:10px;
  }
}

//form
.form{
  height:90px;
  padding:20px 40px;
  background-color: #d2d2d2;
}
.new-message{
  display:flex;
}
.input-box{
  width:100%;
  position:relative;
  &__text{
    height:50px;
    width:100%;
    padding:0 40px 0 10px;
    border-style:none;
  }
  &__image{
    position:absolute;
    top:10px;
    right:10px;
    &__file{
      display:none;
    }
  }
}

.submit-button{
  height:50px;
  width:100px;
  background-color: $blue;
  margin-left:15px;
  padding:0 30px;
  color:white;
}