$white:#ffffff;

.side-bar{
  height:100vh;
  width:300px;
  float:left;
  color:white;
}
//side-header
.side-header{
  height:100px;
  padding:0 20px;
  background-color: #253141;
  display:flex;
  align-items:center;
}
.side-header__box{
  height:20px;
  width:100%;
  line-height: 20px;
  display:flex;
  justify-content: space-between;
}
.side-header__box__name{
  font-size:16px;
  font-weight:bold;
  color:$white;
}
.side-header__box__button{
  display:flex;
}
a{
  color:$white;
  text-decoration: none;
  margin-left:5px;
}

//side-bar__groups
.side-bar__groups{
  height:calc(100vh - 100px);
  background-color: #2f3e51;
  padding:20px 20px 0;
}
.group{
  margin-bottom:40px;
}
.group__name{
  margin-bottom:5px;
  font-size:15px;
  color:$white;
}
.group__message{
  font-size:11px;
  color:$white;
}